%h1 ログイン

.well
  =simple_form_for @user, url: sessions_path do |f|
    =f.input :email
    =f.input :password, required: true
    =f.submit "Login", class: "btn btn-primary btn-block"

.well
  %table.table.table-bordered
    %colgroup
      %col.col-xs-2
      %col.col-xs-10
    %thead
      %tr
        %th(colspan=2)テスト用アカウント
    %tbody
      %tr
        %th メールアドレス
        %td test@example.com
      %tr
        %th パスワード
        %td password
