%h1 新規登録

.well
  =simple_form_for @user do |f|
    =f.input :email, required: true
    =f.input :password, required: true
    =f.input :password_confirmation, required: true
    =f.submit "Save", class: "btn btn-primary btn-block"
